/* Barra superior e inferior */
.top-bar,
.bottom-bar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(45, 85, 45, 0.3); /* verde translúcido */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999; /* siempre por encima */
}

/* Barra superior */
.top-bar {
  top: 0;
}

.top-bar img {
  max-height: 50px; /* <-- aquí cambias tamaño del logo */
  height: auto;
  width: auto;
  object-fit: contain;
}

/* Barra inferior */
.bottom-bar {
  bottom: 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 0 20px;
}
