<nav class="navbar-slide1-new">
  <img src="../public/assets/img/Logo Memorial Maderas Dorado CM.svg" alt="Memorial Maderas logo" class="navbar-logo" />
  
  <div class="navbar-content-bottom">
    <div></div> <!-- Espaciador izquierdo -->
    
    <ul class="navbar-menu-slide1">
      <li><a href="#" class="nav-link" data-target="quienes-somos">¿Quiénes somos?</a></li>
      <li><a href="#" class="nav-link" data-target="contacto">Contacto</a></li>
      <li><a href="#" class="nav-link" data-target="nichos-memorial">Nichos Memorial</a></li>
      <li><a href="#" class="nav-link" data-target="mascotas">Mascotas</a></li>
    </ul>

    <div class="navbar-btn-plantar">
      <img 
        src="../public/assets/img/backgrounds/Slide1/botónEfectoHover.svg" 
        alt="Plantar un árbol memorial" 
        class="navbar-btn-arbol"
        onmouseover="this.src='../public/assets/img/backgrounds/Slide1/botónPlantarunárbolMemorial.svg'"
        onmouseout="this.src='../public/assets/img/backgrounds/Slide1/botónEfectoHover.svg'"
      />
    </div>
  </div>
</nav>
