<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img src="../public/assets/img/logo-memorial-maderas.svg" alt="Logo Memorial Maderas">
    </div>

    <div class="navbar-menu">
      <ul>
        <li><a href="#" class="nav-link" data-target="about">¿Quiénes somos?</a></li>
        <li><a href="#" class="nav-link" data-target="packages">Paquetes</a></li>
        <li><a href="#" class="nav-link" data-target="contact">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>