<section class="packages" id="packages" data-aos="fade-up">
<!-- Título principal -->
  <h2 class="packages-title">Nuestras opciones de descanso</h2>
  
  <!-- Contenedor de ítems -->
  <div class="packages-grid">
    <!-- Cada item contiene un ícono de hoja + texto -->
    <div class="package-item">
      <img src="../public/assets/img/icons/IC Slide 4 Hojas 1.svg" alt="Hoja" />
      <p>Lote Nichos Memorial</p>
    </div>
    <div class="package-item">
      <img src="../public/assets/img/icons/IC Slide 4 Hojas 1.svg" alt="Hoja" />
      <p>Lote Memorial Mixto</p>
    </div>
    <div class="package-item">
      <img src="../public/assets/img/icons/IC Slide 4 Hojas 1.svg" alt="Hoja" />
      <p>Mausoleo Triple</p>
    </div>
    <div class="package-item">
      <img src="../public/assets/img/icons/IC Slide 4 Hojas 1.svg" alt="Hoja" />
      <p>Nicho Premium</p>
    </div>
    <div class="package-item">
      <img src="../public/assets/img/icons/IC Slide 4 Hojas 1.svg" alt="Hoja" />
      <p>Nicho Plus</p>
    </div>
    <div class="package-item">
      <img src="../public/assets/img/icons/IC Slide 4 Hojas 1.svg" alt="Hoja" />
      <p>Nicho Sencillo</p>
    </div>
  </div>
</section>

