<section id="section3" class="section3">
  <video class="section3-video" autoplay muted loop playsinline>
    <source src="../public/assets/video/slide-3-video-background.mp4" type="video/mp4">
  </video>

  <!-- Overlay con flexbox que centra el contenido -->
  <div class="section3-overlay">
    <div class="section3-content">
      <h2>¿Quiénes somos?</h2>
      <p>
        Memorial Maderas es un bosque conmemorativo, cuidadosamente diseñado para ofrecer un ambiente de serenidad,
        conexión y armonía.
      </p>
    </div>
  </div>
</section>