
/* Importación de componentes */
@import url('./components/navbar-slide1.css');

/* Importación de secciones */
@import url('./sections/slide1.css');
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat Alternates', 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #222;
}

a {
  text-decoration: none;
}

